@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.outerBox {
  display: flex;
  height: 100%;
  position: relative;
  top: 70px;
  flex-direction: column;
}
.inner-box {
  display: flex;
}
.text {
  font-family: 'Montserrat', sans-serif;
}
