* {
  box-sizing: border-box;
}
.App {
  background-color: #edeae5;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.text-link {
  display: block;
  padding: 10px;
  margin: 10px;
  align-self: center;
  font-size: 30px;
  color: inherit;
  text-decoration: inherit;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.logo {
  display: flex;
  flex-direction: row;
  align-self: center;
}
LogIn {
  display: flex;
  flex-direction: row-reverse;
}
.header-two {
  display: flex;
  flex-direction: row;
  background-color: #026670;
  width: 100vw;
  height: 75px;
  min-height: auto;
  color: #fce181;
  justify-content: space-around;
}
