@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.diaryName {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-top: 2.5%;
  text-align: center;
}
.diaryBox {
  display: flex;
  flex-direction: column;
  
}
.diary-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.diary-form textarea {
  align-self: center;
  font-size: 20px;
  width: 70%;
  height: 50%;
  padding: 1%;
  margin: 1%;
}
input {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-self: center;
  max-height: auto;
  padding: 1%;
  margin: 1%;
}
.form-box-for-user-a {
  background-color: #fef9c7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: px;
  left: 350px;
}
.form-box-for-user-b {
  background-color: #fef9c7;
  height: 100%;
  width: 100%;
}
.entrybox {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-top: 3%;
  display: flex;
  min-height: auto;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.diaryentry {
  padding: 2%;
  display: flex;
  width: 100%;
  height: 100%;
}
.date {
  background-color: #021c70;
  width: auto;
  color:white;
  font-family: 'Montserrat', sans-serif;
}
.texti {
  align-self: center;
}
.myentries {
  position: relative;
  top: 75px;
  height: 200px;
  overflow: scroll;
}
.my-entries::-webkit-scrollbar {
  display: none;
}
.button {
  background-color: #021c70;
  border:none;
  border-radius: 50px;
  padding:1%;
  width: auto;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  bottom: 50px;
}