.diaryName {
  font-size: 30px;
}
.diary-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.diary-form textarea {
  align-self: center;
  font-size: 20px;
  width: 70%;
  height: 50%;
  padding: 1%;
  margin: 1%;
}
input {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-self: center;
  max-height: auto;
  padding: 1%;
  margin: 1%;
}
.form-box-for-user-a {
  background-color: #fef9c7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: px;
  left: 350px;
}
.form-box-for-user-b {
  background-color: #fef9c7;
  height: 100%;
  width: 100%;
}
.entry-box {
  width: 100%;
  margin-top: 3%;
  display: flex;
  min-height: auto;
  height: 50px;
  border: solid black 3px;
}
.diary-entry-text {
  padding: 2%;
  display: flex;
  width: 100%;
  display: flex;
  height: 100%;
}
.date {
  background-color: #026670;
  color: #fce181;
  min-width: auto;
  width: 60px;
  padding: 1%;
}
.texti {
  align-self: center;
}
.my-entries {
  position: relative;
  top: 75px;
  height: 400px;
  overflow: scroll;
}
.my-entries::-webkit-scrollbar {
  display: none;
}
